/* Generelle Styles */
body,
html {
  font-family: "Nunito", sans-serif;
  background-color: #def6d8; /* Baggrundsfarve */
  color: #424242; /* Tekstfarve */
  margin: 0;
  line-height: 1.6;
}

/* Navigationsbar Styles */
.navbar {
  background-color: #91c789; /* Primær grøn farve */
  padding: 10px 0; /* Reducer padding for at matche eksemplet */
  text-align: center;
  display: flex; /* Gør navigationsbaren til en flex container */
  justify-content: center; /* Centrerer links i navigationsbaren */
  align-items: center; /* Centrerer elementer vertikalt */
  position: relative; /* Positioneret relativt for at placere logoet absolut inden for navigationsbaren */
}

.navbar a {
  color: #f5f5f5;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px; /* Afrundede hjørner */
}

.navbar a:hover,
.navbar a.active {
  background-color: #f29a8a; /*farve for at vise hvilken side man er inde på i navigationsbaren*/
}

/* Logo Style */
.navbar-logo {
  position: absolute; /* Absolut positionering inden i navigationsbaren */
  left: 20px; /* Placering fra venstre side */
  top: 50%; /* Start fra toppen halvvejs ned */
  transform: translateY(
    -50%
  ); /* Skub op med halvdelen af logoets højde for at centrere vertikalt */
  height: 40px; /* Højde på logoet */
}



/* Stat Block Styles */
.stat {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer vertikalt */
  align-items: center; /* Centrer  horisontalt */
  text-align: center;
  background: #f5f5f5;
  border: solid;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100px; /* Fixed height for each stat block */
}

/* Specific styles for ikonerne and teksten */
.stat-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.stat-text {
  font-size: 18px;
  font-weight: bold;
}

/* Farve for hver blok */
#meals-today-stat {
  border-color: #91c789;
}
#energy-today-stat {
  border-color: #f29a8a;
}
#water-today-stat {
  border-color: #99d9de;
}
#protein-today-stat {
  border-color: #ffab40;
}

/* Meal Creator Styles */
.meal-creator-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/*Style for når der oprettes et måltid*/
.meal-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.meal-form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.create-meal-btn {
  padding: 10px 20px;
  background-color: #ffab40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-ingredient-btn {
  padding: 10px 20px;
  background-color: #569bd5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.created-meals-list {
  margin-top: 20px;
}

/* Yderligere styles for created meals list */
.created-meals-list .meal-entry {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Meal Tracker Container Styles */
.meal-tracker-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Meal Registration Form Styles */
#meal-registration-form {
  display: grid;
  grid-template-columns: 1fr auto auto; /* Tilpass dette efter dine inputs */
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

#meal-registration-form input[type="text"],
#meal-registration-form input[type="number"],
#meal-registration-form input[type="datetime-local"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
}

#meal-registration-form button {
  padding: 10px 20px;
  background-color: #ffab40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#water-intake-form button {
  padding: 10px 20px;
  background-color: #569bd5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Registered Meals List Styles */
#registered-meals .meal-entry {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
/* Meal Entry Styles */
.meal-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px; /* Tilføjer afstand mellem hver meal entry */
}

.meal-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meal-name,
.meal-weight,
.meal-time {
  padding: 5px 10px;
  background-color: #e9ecef;
  border-radius: 5px;
}

.meal-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for gemme måltid knap */
.save-meal-changes {
  padding: 10px 20px;
  background-color: #91c789;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-meal-btn {
  padding: 10px 20px;
  color: white;
  background-color: #f29a8a; /* Rød for sletning */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for at gemme vandindtagegelse knap */
.save-water-changes {
  padding: 5px 10px;
  background-color: #91c789;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-water-btn {
  padding: 5px 10px;
  color: white;
  background-color: #f29a8a; /* Rød for sletning */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Nutri Report Container Styles */
.nutri-report-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-entries {
  margin-top: 20px;
}

.report-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.report-entry > div {
  padding: 5px 10px;
  text-align: center;
  /* Du kan tilføje specifikke farver og stilarter for hver type data */
}



/* Stil for tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Afstand til elementet ovenfor */
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;
}

th {
  background-color: #91c789;
  color: white;
}

/* Tilføjelse af hover-effekt til tabellinjer */
tbody tr:hover {
  background-color: #f5f5f5;
}




/* Center the login form */
.login-container {
  width: 100%;
  max-width: 400px; /* Maximum width for the form */
  margin: 100px auto; /* Centers the form horizontally and vertically */
  padding: 30px;
  background-color: #F5F5F5; /* Light grey */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
}

/* Style for form inputs and buttons */
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%; /* Full width of the form */
  padding: 10px;
  margin-bottom: 15px; /* Space between inputs */
  border-radius: 5px;
  border: 1px solid #9E9E9E; /* Light grey from black scale */
}

#login-button,
#redirect-to-register-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #91C789; /* Primary green color */
  color: #FFFFFF; /* White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#redirect-to-register-button {
  background-color: #FFAB40; /* Accent orange from secondary colors */
}

#login-button:hover {
  background-color: #81B77E; /* Slightly darker shade of primary green */
}

#redirect-to-register-button:hover {
  background-color: #E89A30; /* Slightly darker orange */
}


/* Register form styles */
.register-container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto; /* Centers horizontally and vertically */
  padding: 40px;
  background-color: #F5F5F5; /* Light grey */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.register-container h1 {
  color: #424242; /* Dark grey */
  margin-bottom: 20px;
}

#register-form input[type="text"],
#register-form input[type="number"],
#register-form input[type="password"],
#register-form select {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #9E9E9E; /* Light grey */
}

#register-button,
#redirect-to-login-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #91C789; /* Primary green color */
  color: #FFFFFF; /* White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#redirect-to-login-button {
  background-color: #FFAB40; /* Accent orange from secondary palette */
}

#register-button:hover {
  background-color: #81B77E; /* Darker shade of primary green */
}

#redirect-to-login-button:hover {
  background-color: #E89A30; /* Darker orange */
}

.register-container span {
  margin-right: 10px;
  font-size: 14px;
  color: #424242;
}




/* Profile page styles */
.profile-container {
  width: 100%;
  max-width: 600px;
  margin: 80px auto; /* Centers horizontally and vertically */
  padding: 40px;
  background-color: #F5F5F5; /* Light grey */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-container h1 {
  color: #424242; /* Dark grey */
  margin-bottom: 20px;
}

#profile-form input[type="text"],
#profile-form input[type="number"],
#profile-form select {
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #9E9E9E; /* Light grey */
}

#update-button,
#logout-button,
#delete-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #91C789; /* Primary green */
  color: #FFFFFF; /* White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logout-button {
  background-color: #FFAB40; /* Accent orange */
}

#delete-button {
  background-color: #F29A8A; /* Accent red */
}

#update-button:hover {
  background-color: #81B77E; /* Darker shade of primary green */
}

#logout-button:hover {
  background-color: #E89A30; /* Darker orange */
}

#delete-button:hover {
  background-color: #E17979; /* Darker red */
}

.profile-container span {
  display: block;
  font-size: 14px;
  color: #424242;
  margin-bottom: 15px;
}


/* Adjusted Activity Container styles */
.activity-container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto; /* Centers horizontally and vertically */
  padding: 30px;
  background-color: #F5F5F5; /* Light grey */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
}

.activity-container h1 {
  color: #424242; /* Dark grey */
  margin-bottom: 30px; /* Adds spacing below the title */
}

#activity-form label {
  display: block; /* Makes label take full width */
  margin-bottom: 10px; /* Adds spacing after the label */
  text-align: left; /* Aligns text to the left */
}

#activity-form select,
#activity-form input[type="number"] {
  width: 100%;
  margin-bottom: 20px; /* Increase spacing between form elements */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9E9E9E; /* Light grey */
}

#save {
  width: 100%;
  padding: 10px;
  margin-top: 30px; /* Adds spacing above the button */
  background-color: #FFAB40; /* Change to accent orange color */
  color: #FFFFFF; /* White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save:hover {
  background-color: #E89A30; /* Darker shade of accent orange */
}