/* Generelle Styles */
body,
html {
  font-family: "Nunito", sans-serif;
  background-color: #def6d8;
  color: #424242;
  margin: 0;
  line-height: 1.6;
}

/* Navigationsbar Styles */
.navbar {
  background-color: #91c789;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar a {
  color: #f5f5f5;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

.navbar a:hover,
.navbar a.active {
  background-color: #f29a8a; /*farve for at vise hvilken side man er inde på i navigationsbaren*/
}

/* Logo Style */
.navbar-logo {
  position: absolute; /* Absolut positionering inden i navigationsbaren */
  left: 20px;
  top: 50%;
  transform: translateY(
    -50%
  ); /* Skub op med halvdelen af logoets højde for at centrere vertikalt */
  height: 40px;
}

/* Stat Block Styles */
.stat {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f5f5f5;
  border: solid;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100px;
}

/* Specific styles for ikonerne and teksten */
.stat-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.stat-text {
  font-size: 18px;
  font-weight: bold;
}

/* Farve for hver blok */
#meals-today-stat {
  border-color: #91c789;
}
#energy-today-stat {
  border-color: #f29a8a;
}
#water-today-stat {
  border-color: #99d9de;
}
#protein-today-stat {
  border-color: #ffab40;
}

/* Meal Creator Styles */
.meal-creator-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bdbdbd;
}

/*Style for når der oprettes et måltid*/
.meal-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.meal-form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

/*knap til at lave meal*/
.create-meal-btn {
  padding: 10px 20px;
  background-color: #ffab40;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*knap til at tilføje ingredient*/
.add-ingredient-btn {
  padding: 10px 20px;
  background-color: #569bd5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.created-meals-list {
  margin-top: 20px;
}

/* Yderligere styles for created meals list */
.created-meals-list .meal-entry {
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Meal Tracker Container Styles */
.meal-tracker-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px #bdbdbd;
}

/* Meal Registration Form Styles */
#meal-registration-form {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

#meal-registration-form input[type="text"],
#meal-registration-form input[type="number"],
#meal-registration-form input[type="datetime-local"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
}

#meal-registration-form button {
  padding: 10px 20px;
  background-color: #ffab40;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#water-intake-form button {
  padding: 10px 20px;
  background-color: #569bd5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Registered Meals List Styles */
#registered-meals .meal-entry {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
/* Meal Entry Styles */
.meal-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
}

.meal-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.meal-name,
.meal-weight,
.meal-time {
  padding: 5px 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.meal-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for gemme måltid knap */
.save-meal-changes {
  padding: 10px 20px;
  background-color: #91c789;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*knap til at slette et meal*/
.delete-meal-btn {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #f29a8a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style for at gemme vandindtagegelse knap */
.save-water-changes {
  padding: 5px 10px;
  background-color: #91c789;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*knap til at slette vand*/
.delete-water-btn {
  padding: 5px 10px;
  color: #ffffff;
  background-color: #f29a8a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Nutri Report Container Styles */
.nutri-report-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px #bdbdbd;
}

.report-entries {
  margin-top: 20px;
}

.report-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.report-entry > div {
  padding: 5px 10px;
  text-align: center;
}

/* Stil for tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #f5f5f5;
}

th {
  background-color: #91c789;
  color: #ffffff;
}

/* Tilføjelse af hover-effekt til tabellinjer */
tbody tr:hover {
  background-color: #f5f5f5;
}

/* Center the login form */
.login-container {
  width: 100%;
  max-width: 400px; 
  margin: 100px auto; 
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px #bdbdbd; 
  text-align: center;
}

/* Style for form inputs and buttons */
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px; 
  border-radius: 5px;
  border: 1px solid #9e9e9e; 
}

#login-button,
#redirect-to-register-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #91c789; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#redirect-to-register-button {
  background-color: #ffab40; 
}

#login-button:hover {
  background-color: #81b77e; 
}

#redirect-to-register-button:hover {
  background-color: #e89a30; 
}

/* Register form styles */
.register-container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto; 
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px #bdbdbd;
  text-align: center;
}

.register-container h1 {
  color: #424242; 
  margin-bottom: 20px;
}

#register-form input[type="text"],
#register-form input[type="number"],
#register-form input[type="password"],
#register-form select {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #9e9e9e; 
}

#register-button,
#redirect-to-login-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #91c789; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#redirect-to-login-button {
  background-color: #ffab40; 
}

#register-button:hover {
  background-color: #81b77e; 
}

#redirect-to-login-button:hover {
  background-color: #e89a30; /
}

.register-container span {
  margin-right: 10px;
  font-size: 14px;
  color: #424242;
}

/* Profile page styles */
.profile-container {
  width: 100%;
  max-width: 600px;
  margin: 80px auto; 
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px #bdbdbd;
  text-align: center;
}

.profile-container h1 {
  color: #424242;
  margin-bottom: 20px;
}

#profile-form input[type="text"],
#profile-form input[type="number"],
#profile-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
}

#update-button,
#logout-button,
#delete-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #91c789;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logout-button {
  background-color: #ffab40;
}

#delete-button {
  background-color: #f29a8a;
}

#update-button:hover {
  background-color: #81b77e;
}

#logout-button:hover {
  background-color: #e89a30;
}

#delete-button:hover {
  background-color: #e17979;
}

.profile-container span {
  display: block;
  font-size: 14px;
  color: #424242;
  margin-bottom: 15px;
}

/* Adjusted Activity Container styles */
.activity-container {
  width: 100%;
  max-width: 500px;
  margin: 80px auto; 
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px #bdbdbd; 
  text-align: center;
}

.activity-container h1 {
  color: #424242;
  margin-bottom: 30px;
}

#activity-form label {
  display: block; 
  margin-bottom: 10px; 
  text-align: left; 
}

#activity-form select,
#activity-form input[type="number"] {
  width: 100%;
  margin-bottom: 20px; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9e9e9e; 
}

#save {
  width: 100%;
  padding: 10px;
  margin-top: 30px; 
  background-color: #ffab40; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save:hover {
  background-color: #ffab40; 
}
